<div class="container">
  <div class="row">
    <label for="name">Source </label>


    <select class="form-control" id="pCategory" name="pCategory" [(ngModel)]="selectedSource" title="Source">
      <option value="" selected  disabled>Choose a Source</option>
      <option *ngFor="let c of sources" [ngValue]="c">{{ c }}</option>
    </select>
  </div>
  <ng-container *ngIf="selectedSource == 'Sql'">
    <ng-container *ngTemplateOutlet="sqlTemplate">
    </ng-container>
  </ng-container>

  <ng-container *ngIf="selectedSource == 'Cosmos Db'">
    <ng-container *ngTemplateOutlet="cosmosTemplate">
    </ng-container>
  </ng-container>

  <div class="row">
    <div class="json-box">
      <div *ngIf="loading">
        Fetching data...
      </div>
      Message : {{statusMessage}}
      resultCount : {{resultCount}}



      <ag-grid-angular style="width: 100%; height: 100%"
                       class="ag-theme-alpine"
                       [columnDefs]="columnDefs"
                       [defaultColDef]="defaultColDef"
                       [rowData]="data"
                       (gridReady)="onGridReady($event)"></ag-grid-angular>

      <!--<ngx-json-viewer [json]="data"></ngx-json-viewer>-->
    </div>

  </div>
</div>

<ng-template #sqlTemplate>
  <div class="row">
    <label for="name">Connection String: </label>
    <input id="name" class="form-control" [(ngModel)]="sqlRequest.connectionString" placeholder="connectionString">
  </div>
  <div class="row">
    <label for="name">Query: </label>
    <input id="name" class="form-control" [(ngModel)]="sqlRequest.querystring" placeholder="query">
  </div>
  <div class="row">
    <button class="btn btn-primary" (click)="onGet()"> Submit </button>
  </div>
</ng-template>

<ng-template #cosmosTemplate>
  Cosmos
  <div class="row">
    <label for="name">Account Endpoint: </label>
    <input id="name" class="form-control" [(ngModel)]="cosmosRequest.accountEndPoint" placeholder="connectionString">
  </div>
  <div class="row">
    <label for="name">Database: </label>
    <input id="name" class="form-control" [(ngModel)]="cosmosRequest.database" placeholder="query">
  </div>
  <div class="row">
    <label for="name">Container: </label>
    <input id="name" class="form-control" [(ngModel)]="cosmosRequest.container" placeholder="query">
  </div>
  <div class="row">
    <label for="name">Query: </label>
    <input id="name" class="form-control" [(ngModel)]="cosmosRequest.querystring" placeholder="query">
  </div>
  <div class="row">
    <button class="btn btn-primary" (click)="onCsSubmit()"> Submit </button>
  </div>
</ng-template>
