<div class="container">
  Alerts
  <div class="row">
    <div class="json-box">
      <div *ngIf="loading">
        Fetching data...
      </div>
   
      

      <ag-grid-angular style="width: 100%; height: 100%"
                       class="ag-theme-alpine"
                       [columnDefs]="columnDefs"
                       [defaultColDef]="defaultColDef"
                       [rowData]="data"
                       (gridReady)="onGridReady($event)"></ag-grid-angular>

      <!--<ngx-json-viewer [json]="data"></ngx-json-viewer>-->
    </div>

  </div>
</div>
